
svg {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(100%, -50%);
    color: white;
}
.Knoppen{
    padding: 5px;
}
.vermistevolwassenendiv {
    padding: 1rem 3rem;

}
.vermistevolwassenentitel {
    padding: 1rem 3rem;
    text-align: center;
}
.vermistevolwassenenondertitel {
    padding: 1rem 3rem;
    text-align: center;
}