
* {
    box-sizing: border-box;
}

.homepage-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}
#main {
    display: flex;
    flex: 1;
}
#main > article {
    flex: 1;
}
#main > nav,
#main > aside {
    flex: 0 0 20vw;
    background: beige;
}
#main > nav {
    order: -1;
}
header, footer, article, nav, aside {
    padding: 1em;
}
.homepage-container img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 1rem;
    border-color: #111111;
    border-style: solid;
}
